---
layout: base.njk
pagination:
  alias: unsplash_id
  data: unsplash_ids
  size: 1
---

{% set width = 1920 %}
{% set height = 1080 %}
{% set image_url = 'https://source.unsplash.com/' + unsplash_id + '/' + width + 'x' + height %}
{% include 'image.njk' %}